/* .table{
	text-align:center;
	display: block;
	margin: auto;
	width:75%;
	padding: 0;
}
.sub-head{
	width:35%;
	font-size: 1.25rem;
}
.content{
	width:65%;
}
.image{
	width:70%;
	height:auto;
	margin: auto;
	text-align: center;
}
.image img{
	width:100%;
	display: block;
	margin: auto;
	text-align: center;
}
.head{
	font-size: 1.5625rem;
	text-align:center;
}
.long{
	width:100%;
} */


/* .container{
	width: 80%;
	text-align: center;
	margin: auto;
}
img{
	width:40%;
	margin-top: 1%;
	margin-bottom: 4%;
}
.title{
	font-size: 30px;
}
.subTitle{
	font-size: 16px;
}
.img_row{
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.mod_col{
	display:flex;
	flex-direction: column;
}
.row{
	margin-left:5% ;
	margin-right: 3%;
} */
.section{
	/* background: url(../img/bg3.jpg);
	background-size: cover; */
	/* background-color: rgb(0,12,59); */
	background-color: #000000;
}
.title{
	margin-top: 0.5%;
	font-family: Arial, sans-serif;
	font-size: 30px;
	color: #FFAC50;
	width: 70%;
	margin: auto;
	padding: auto;
}
.container{
	width: 100%;
	text-align: center;
	margin: auto;
}
.img{
	display: block;
	width:650px;
	height: 280px;
	/* width:45%;
	height:45%; */
	color: red;
	margin: auto;
}
img{
	width:22%;
	background-color: red;
}
.img_row{
	display: flex;
}
.row{
	display: flex;
	background: url(../img/titlebg.png);
	background-size: cover;
}
/* .row div{
	margin: auto;
} */
.row div:nth-child(2){
	margin-left: 3%;
	margin-right: 3%;
}
.row div:first-child{
	color: #10467C;
	margin-left: auto;
}
.row div:last-child{
	color: #10467C;
	margin-right: auto;
}
